{
  "presets": [
    [
      "next/babel"
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "~assets": "./assets",
          "~static": "./static",
          "~components": "./components"
        },
        "cwd": "babelrc"
      }
    ]
  ]
}
