.Signin{
  @include pageBg('/static/imgs/Mobile_Sign%20in%20BG.png');

  @import "./button-cta.scss";
  @import "./use-form.scss";
}

@include media-breakpoint-up(lg) {
  .Signin{
    .modal-dialog{
      width: 416px;
    }

    .account-options{
      & + button{
        width: 162px;
      }

      & > div{
        width: 162px;

        img{
        }

        &:first-child{
          margin-right: 91px;
        }
      }
    }
  }
}
